.styleButton {
    background: #ef6079ff;
    font-size: 15px;
    width: 200px;
    color: white;
    border-radius: 25px;
    padding: 20px;
    border: 2px solid #ef6079ff;
    margin-right: 20px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.styleButton:hover {
    transform: scale(1.1);
}